*{
  margin :0;
  padding:0;
  box-sizing: border-box;
}
body{
  font-family:"monseratt", sansserif;
}
.app{
  background-image: url(./weather\ background/woodforest);
  background-position: bottom;
  background-size: cover;
  transition: 0.4 ease-in-out;
}
.app.warm{
  background-image: url();
}
main{
  min-height:100vh;
}